bitstring==3.1.5
enum34==1.1.6
python-dateutil==2.7.3
-e git+https://github.com/williballenthin/python-registry.git@c6e75fb2dce809ceba4590cd5a82ef4ac00e4abe#egg=python_registry
six==1.11.0
SQLAlchemy==1.3.0
unicodecsv==0.14.1
